.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
  position: fixed; /* so that it stays locked on the page */
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #01153E; /* black background */
  z-index: 1000;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: white; /* white text */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: white; /* white text */
  position: relative;
  transition: color 0.2s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: white; /* underline in white */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links a:hover {
  color: #ddd; /* optional hover color */
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #64ffda;
  text-decoration: none;
}
